html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

.imágenes {
    position: relative;
}

.perfil {
    width: 150px;
    height: 125px;
    position: absolute;
    top: 21vh;
    left: 3vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
}

.fondo {
    width: 90%;
    height: auto;
}

.caja {
    background-color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    width: 50vw;
    border: 1px solid whitesmoke;
}